<div class="navbar navbar-default">
    <div class="container">
        <h3>Edit Contact</h3>
    </div>
</div>
<div>
    <div>
        <form role="form" name="formEdit" novalidate>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr class="form-group">
                                    <th><label for="name">Name:</label></th>
                                    <td><input name="name" type="text" class="form-control" id="name" ng-model="contact.Name" ng-required="true"></td>
                                </tr>
                                <tr class="form-group">
                                    <th><label for="surname">Surname:</label></th>
                                    <td><input name="surname" type="text" class="form-control" id="surname" ng-model="contact.Surname"></td>
                                </tr>
                                <tr class="form-group">
                                    <th><label for="city">City:</label></th>
                                    <td><input name="city" type="text" class="form-control" id="city" ng-model="contact.City"></td>
                                </tr>
                                <tr class="form-group">
                                    <th><label for="info">Info:</label></th>
                                    <td><textarea name="info" rows="2" class="form-control" id="info" ng-model="contact.Info"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{contact.Image}}" class="img-responsive img-rounded" />
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="panel panel-default">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr ng-repeat="number in numbers">
                                <th><input name="type" type="text" class="form-control" id="type" ng-model="number.type"></th>
                                <th><input name="number" type="text" class="form-control" id="number" ng-model="number.numb" ng-required="true"></th>
                                <th><input name="desc" type="text" class="form-control" id="desc" ng-model="number.desc"></th>
                                <!--<th ><span ng-click="removeNumber($index)" class="center-block btn btn-danger glyphicon glyphicon-remove-sign" aria-hidden="true"></span></th>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
            <div class="row">
                <a href="/" class="btn btn-default">Cancel</a>
                <button type="submit" ng-disabled="formEdit.$invalid" class="btn btn-primary" ng-click="edit()">Submit</button>
            </div>
        </form>
    </div>
